.icon-pause:before { content: '\e800'; } /* '' */
.icon-photo:before { content: '\e801'; } /* '' */
.icon-back:before { content: '\e802'; } /* '' */
.icon-hide:before { content: '\e803'; } /* '' */
.icon-list:before { content: '\e804'; } /* '' */