.icon-back {
  width: 1em;
  height: 1em;
  fill: white;
}
.icon-Ellipse {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: none;
}
.icon-hide {
  width: 1em;
  height: 1em;
  fill: white;
}
.icon-list {
  width: 1.33em;
  height: 1em;
  fill: white;
}
.icon-pause {
  width: 1em;
  height: 1em;
  fill: white;
}
.icon-photo {
  width: 1.2em;
  height: 1em;
  fill: white;
}
